.consultation{
  padding: 85px 0 90px;
  background: #ffffff url("/images/pre-footer-bg.png") center/cover no-repeat;

  &__wrap{
    display: flex;
    flex-wrap: wrap;
  }

  &__left,&__right{
    width: 50%;
    position: relative;
  }

  &__picture{
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%)
  }

  h2{
    margin: 0;
    font-family: $ff-main-headers;
    color: $color-main;
    font-size: 2.625em;
  }

  &__description{
    color: $color-main;
    font-family: $ff-main-regular;
    line-height: 1.5;
    margin: 45px 0;
    padding-right: 150px;
  }

  &__button{
    background: #f82f38;
    color: #ffffff;
    font-family: $ff-main;
    transition: .3s;

    &:hover{
      background: lighten(#f82f38,10%);
    }
  }
}