.footer {
  padding: 25px 0 60px;

  &__top {
    padding-bottom: 25px;
    border-bottom: 1px solid #c0cfdb;
  }

  &__bottom{
    padding-top: 30px;
  }

  &__top-wrap, &__bottom-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__header {
    font-size: 1rem;
    font-family: $ff-main;
    color: $color-second;
    padding: 5px 0;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    text-decoration: none;
    width: 50%;
    color: $color-second;
    font-size: 0.875rem;
    padding: 5px 0;
    transition: .3s;

    &:hover {
      color: lighten($color-second, 20%);
    }
  }

  &__items {
    margin: 0;
    padding: 0;

    .footer__link {
      font-size: 1rem;
    }
  }

  &__button {
    background: #ffffff;
    border: 2px solid #e6ecf2;
    padding: 15px 30px;
    font-family: $ff-main;
    color: $color-second;
    font-size: 0.75rem;
    transition: .3s;
    text-decoration: none;
    display: block;

    &:hover {
      border-color: darken(#e6ecf2,20%);
    }
  }

  &__description{
    width: 30%;
    p{
      margin: 0;
      font-size: 0.75rem;
      font-family: $ff-main;
      color: #c1c1c1;
      line-height: 1.5;
    }
  }

  .contact{
    .phone{
      font-size: 2rem;
      font-family: $ff-main-regular;
      font-weight: normal;
      color: $color-main;
      transition: all .3s ease;

      &:hover{
        color: lighten($color-main,15%);
        text-decoration: underline;
      }
    }

    &__description{
      margin: 0;
      text-transform: uppercase;
      font-size: 0.75rem;
      color: #c1c1c1;
    }
  }

  &__develop-title{
    display: block;
    color: $color-second;
    padding-bottom: 5px;
  }

  .developer__link{
    text-decoration: underline;
  }


}