.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow: hidden;

}

.popup__consultation {
  @include centerer-xy();
  //position: relative;
  width: 920px;
  background: #ffffff;
  margin: 0 auto;
  padding: 65px 40px 50px;
  box-shadow: 0 0 10px #000;
  z-index: 9999;

  h2 {
    font-size: 2rem;
    font-family: $ff-main-headers;
    color: $color-main;
  }

  p {
    font-size: 1rem;
    color: $color-main;
    font-family: $ff-main-regular;
  }
}

.form {

  &__close {
    height: 48px;
    width: 48px;
    text-align: center;
    background: #1a8cff;
    color: #ffffff;
    padding: 0;
    border: none;
    border-radius: unset;
    position: absolute;
    top: 0;
    right: -48px;

    &:hover {
      background: lighten(#1a8cff, 10%);
    }
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 35px;

  }

  &__input {
    position: relative;

    input, select {
      width: 280px;
      padding: 30px 10px 20px 13px;
      border: 1px solid #c0cfdb;
      margin: 0;
      font-size: 1.125rem;
      font-family: $ff-main-regular;
    }

    .right_radius {
      border-radius: 3px;
      border-left: none;
    }

    .left_radius {
      border-radius: 3px;
      border-right: none;
    }



    .fa {
      @include centerer-y();
      right: 20px;
      pointer-events: none;
      color: #97a4b1;
    }

    .select {

      appearance: none;
      padding: 33px 10px 20px 13px;

      ::-ms-expand {
        display: none;
      }

      &__label {
        position: absolute;
        top: 18px;
        padding-left: 17px;
        transform: scale(.69);
        transform-origin: left top;
        color: #97a4b1;
        font-size: 1rem;
      }
    }
  }

  &__button {
    padding: 25px 50px;
    background: #1a8cff;
    color: #ffffff;

    &:hover {
      background: lighten(#1a8cff, 10%);
    }
  }
}

.input__label {
  @include centerer-y();
  color: #97a4b1;
  padding-left: 20px;
  pointer-events: none;
}

.has-content{
  transform: scale(.69);
  transform-origin: left top;
  top: 20px;
}


