.container{
    max-width: 1160px;
    margin: 0 auto;
}

.button{
    text-transform: uppercase;
    padding: 25px 30px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.center{
    text-align: center;
}