@font-face {
  font-family: "helvetica-neue-bold";
  src: url("/fonts/helvetica-neue-bold.woff") format("woff"),
  url("/fonts/helvetica-neue-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("/fonts/OpenSans-Regular-webfont.woff") format("woff"),
  url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansSemibold";
  src: url("/fonts/OpenSans-Semibold-webfont.woff") format("woff"),
  url("/fonts/Open-SansSemibold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MetaBoldCyrLF-Roman";
  src: url("/fonts/metaboldlfroman.woff2") format("woff2"),
  url("/fonts/metaboldlfroman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

