// Fonts

$ff-main: 'OpenSansSemibold';
$ff-main-regular: 'OpenSansRegular';
$ff-main-light: 'OpenSansLight';
$ff-main-headers: 'MetaBoldCyrLF-Roman';
$color-main : #3b4256;
$color-second : #1262b3;
//$ff-main-light: 'helvetica-neue-light';
//$ff-steps: 'georgia-bold';
