@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/normalize.scss/normalize";
@import "../../node_modules/owl.carousel/src/scss/owl.carousel";

@import "global/mixins";
@import "global/fonts";
@import "global/vars";
@import "global/base";
@import "global/sprite";
@import "global/icons";
@import "global/common";

@import "sections/header";
@import "sections/products";
@import "sections/acquiring";
@import "sections/regions";
@import "sections/news";
@import "sections/consultation";
@import "sections/footer";
@import "sections/form-consultation";
@import "sections/order-page";
