doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/main.min.css')
    title Test Quest
  body
   include sections/header
   include sections/products
   include sections/acquiring
   include sections/regions
   include sections/news
   include sections/consultation
   include sections/footer
   include sections/form-consultation
   include sections/order-page

  script(src="/js/main.min.js")