section.acquiring
  .acquiring__wrap
    h2.center Эквайринг от надежного банка
    .acquiring__description.center.
      Являясь крупным струтктурообразующим банком с безупречной репутацией и высоким
      уровнем качества предоставляемых услуг, мы оказываем высококачественный сервис.
      Список наших партнеров постоянно расширяется.
    ul.acquiring__list
      li.acquiring__item
        .icon.icon-bank
        p.acquiring__item-description Легкое подключение без визита в банк
      li.acquiring__item
        .icon.icon-sheet
        p.acquiring__item-description Гарантия безопасных платежей
      li.acquiring__item
        .icon.icon-headphones
        p.acquiring__item-description Круглосуточная сервисная поддержка
      li.acquiring__item
        .icon.icon-portfolio
        p.acquiring__item-description Минимальный пакет документов
      li.acquiring__item
        .icon.icon-bagmoney
        p.acquiring__item-description Не требуется открытие нового счета



