section.consultation
  .container.consultation__wrap
    .consultation__left
      img.consultation__picture(src="/images/man-with-ipad.png" alt="alt")
    .consultation__right
      h2 Получить консультацию
      p.consultation__description Оставьте свои контактные данные чтобы получить бесплатную консультацию нашего менеджера
      button.button.consultation__button(type="button") получить консультацию