footer.footer
  .footer__top
    .container.footer__top-wrap
      .footer__acquiring
        .footer__header: strong Эквайринг
        nav.footer__links
          a.footer__link(href="#") Терминалы
          a.footer__link(href="#") Касовое ПО
          a.footer__link(href="#") ПОС-системы
          a.footer__link(href="#") М-Пос
      .footer__support
        .footer__header: strong Поддержка
        nav.footer__links
          a.footer__link(href="#") Инструкции
          a.footer__link(href="#") Програмное обеспечение
          a.footer__link(href="#") Документация
          a.footer__link(href="#") Частые вопросы
      ul.footer__items
        li.footer__item: a.footer__link(href="#"): strong О банке
        li.footer__item: a.footer__link(href="#"): strong Наши партнеры
        li.footer__item: a.footer__link(href="#"): strong Новости
        li.footer__item: a.footer__link(href="#"): strong Контакты
      .button-wrap
        a.button.footer__button(href="#") заказать эквайринг

  .footer__bottom
    .container.footer__bottom-wrap
      .footer__description
        p.
          Деятельность ВТБ 24(ПАО) осуществляется в соответствии
          с генеральной лицензией Банка Росии №1623 от 29.10.2014г
          &copy; Эквайринг24 Все права защищены.
      .contact
        a.footer__link.phone(href="tel:88001002424") 8 800 100-24-24
        p.contact__description бесплатно для регионов росии
      .button-wrap
        a.button.footer__button(href="#") заказать обратный звонок
      .footer__developer
        span.footer__develop-title Разработка сайта
        a.footer__link.developer__link(href="#") Fruitful Solutions

