section.news
  .container
    h2.center Новости
    .news__wrap
      .news__item
        img.news__picture(src="/images/news1.jpg" alt="alt")
        p.news__description Бесплатный вебинар 54-ФЗ: все о главной реформе правил
        span.news__date 26 декабря
      .news__item
        img.news__picture(src="/images/news2.jpg" alt="alt")
        p.news__description Детектор банкнот в подарок
        span.news__date 15 декабря
      .news__item
        img.news__picture(src="/images/news3.jpg" alt="alt")
        p.news__description Новый вариант коммуникации с менеджерами банка
        span.news__date 1 декабря

