section.order
  .container.order__wrap-all
    h2 Оформление заказа
    .order__wrap-content
      .order__left
        .order__head
          .order__text: strong Контакты
          .order__link-top: a(href="#") Войдите, если покупали у нас раньше
        form.order__form(action="#" method="post")
          .order__input
            input(type="text")
            label.order__label Название организации
            span.hint подсказка
          .order__input
            input(type="text")
            label.order__label Контактное лицо
            span.hint подсказка
          .order__input
            input(type="text")
            label.order__label ИНН
            span.hint подсказка
          .order__input
            select.order__select
              option(disabled selected hidden)
              option(value="Любой") Любой
              option(value="Любой") Любой
              option(value="Любой") Любой
            label.order__label Выберите ближайший офис
            i.fa.fa-angle-down( aria-hidden="true")
          .order__input
            input(type="email")
            label.order__label Электронная почта
            span.hint подсказка
          .order__input
            input(type="text")
            label.order__label Телефон
            span.hint подсказка
          .order__input
            textarea.order__textarea(cols=10 rows=6 placeholder="Комментарий к заказу")
            label.order__label
          button.button.order__button(type="submit") подтвердить заказ
          a.order__link-bottom(href="#") Вернутся в корзину


      .order__right.check
        .order__text.check__text: strong Сотсав заказа
        .check__wrap
          table.check__table
            tr.check__header
              th.check__header-item POS-система
              th.check__header-item Ритейл 54 Pro
            tr.check__small
              td.check__small-item стоимость:
              td.check__small-item количество:
            tr.check__medium
              td.check__medium-item 96 000 р
              td.check__medium-item 1 шт.

        .check__wrap
          table.check__table
            tr.check__header
              th.check__header-item POS-система
              th.check__header-item Ритейл 54 Pro
            tr.check__small
              td.check__small-item стоимость:
              td.check__small-item количество:
            tr.check__medium
              td.check__medium-item 96 000 р
              td.check__medium-item 1 шт.

        .check__wrap
          table.check__table
            tr.check__header
              th.check__header-item POS-система
              th.check__header-item Ритейл 54 Pro
            tr.check__small
              td.check__small-item стоимость:
              td.check__small-item количество:
            tr.check__medium
              td.check__medium-item 96 000 р
              td.check__medium-item 1 шт.

        .check__wrap
          table.check__table
            tr.check__header
              th.check__header-item POS-система
              th.check__header-item Ритейл 54 Pro
            tr.check__small
              td.check__small-item стоимость:
              td.check__small-item количество:
            tr.check__medium
              td.check__medium-item 96 000 р
              td.check__medium-item 1 шт.

        .check__wrap
          table.check__table
            tr.check__header
              th.check__header-item POS-система
              th.check__header-item Ритейл 54 Pro
            tr.check__small
              td.check__small-item стоимость:
              td.check__small-item количество:
            tr.check__medium
              td.check__medium-item 96 000 р
              td.check__medium-item 1 шт.

        a.check__link(href="#") Смотреть всё

        strong.check__final Итоговая сумма:
        span.check__summa 18 000 000 р
