section.products
  .container
    h2.center Выберите то, что подойдет именно вам
    .products__wrap
      .products__product
        img.products__product-picture(src="/images/terminal.jpg" alt="alt")
        .products__product__title Терминалы
      .products__product
        img.products__product-picture(src="/images/pos-terminali.jpg" alt="alt")
        .products__product__title POS-системы
      .products__product
        img.products__product-picture(src="/images/kasovoe-po.jpg" alt="alt")
        .products__product__title Касовое ПО
      .products__product
        img.products__product-picture(src="/images/m-pos.jpg" alt="alt")
        .products__product__title М-Пос